APP_ENV=local

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=stock_agent
POSTGRES_USER=stock_agent
POSTGRES_PASSWORD=stock_agent

DATABASE_URL=postgresql://postgres.lryrugqfqupbbpaylqvs:stock-agent01@aws-1-ap-northeast-1.pooler.supabase.com:6543/postgres
NEWS_API_KEY=
ECOS_API_KEY=Z0XM9AK7XDLV7ZTVCMKA
FRED_API_KEY= 
DART_API_KEY=33a3a33af388110c714a7cd61131a131e4575b79

KRX_ID=orvosdoktor21
KRX_PW=2120krystal2^*

EMBEDDING_MODEL=bge-m3
EMBEDDING_DIMENSIONS=1024

LANGSMITH_TRACING=false
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_API_KEY=
LANGSMITH_PROJECT=stock-agent-local
